name: test_suite

on:
  pull_request:
  push:
    branches:
      - main

env:
  GODOT_VERSION: 4.4.1
  EXPORT_NAME: blockbusters
  PROJECT_PATH: .

jobs:
  test_suite:
    runs-on: ubuntu-24.04  # Use 24.04 with godot 4
    container:
      image: barichello/godot-ci:4.4.1
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Run Godot test suite
        run: |
          godot res://scenes/tests/test_suite.tscn --headless --path .